<%- include("partials/gg"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">नेत्र</label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/predict">Predict</a></li>
	  <li><a href="/diagnosis">Diagnosis</a></li>
	  <li><a href="/research-paper">Research</a></li>
	  <li><a class="btn btn-primary logout" href="/<%=text%>"><%=text%></a></li>
  </nav>
  <br><br>
    
	<div class="header_section">
		<div class="container-fluid">
		</div>
		<div class="banner_main">
			<div class="container">
				<div class="ram">
					<div class="row">
					    <div class="col-sm-12">
						    <h1 class="taital">Diabetes Diagnosis</h1>
						    <p class="consectetur_text">Diagnose Diabetes under 500 Rupees using A technique we call Netrascopy.</p>
						    <div class="banner_bt">
						    	<button class="read_bt"><a style="color: black" href="/predict">Diagnose</a> </button>
						    </div>
					    </div>
				    </div>
				</div>
				<div class="box">
					<h1 class="numbar_text">01</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- section banner end -->
	<!-- section about start -->
	<div class="about_section">
		<div class="about_text">
			<div class="container">
				<h1 class="about_taital_1"><strong><span style="color: rgb(26, 178, 255);">Experience</span> नेट्रोस्कोपी </strong></h1>
				<p class="magna_text">Try out our all new revolutionary device that will help you diagnose Diabetes just sitting at the comforts of your home under 1 Dollar!</p>
				<div class="about_bt">
					<button class="more_bt"><a href="#">Test</a> </button>
				</div>
				<div class="about">
					<h1 class="numbar_text">02</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- section about end -->  
    <div class="gallery_section_2">
    	<div class="container">
    		<div class="row">
    			<div>
					<div class="col-sm-4">
						<div class="dog_img"><img src="images/camera.jpg" style="width: 100%; height: 100%;"></div>
					</div>
    				<p class="">One of its kind user-friendly solution for stage specific early detection of Diabetic Retinopathy using ML and CNN.
						We have built a highly effective Deep Learning model which leverages Convolutional Neural Networks and a specialized fundus camera in order to detect Diabetic Retinopathy in early stages.
						First upload the fundus videos on the APP, video is broken into 25-30 image frames. These images are then uploaded to a cloud server and their links are fetched and transferred to Flask API which communicates between APP and Deep Learning model, this API transfers all these image links to the DL model which uses CNN to label each images based on 5 Diabetic stages. The APP then shows the diagnosis results.
						 </p>
					<center> 
    			<div class="banner_bt">
					<button class="dog_bt"><a href="/diagnosis">Past Results</a> </button>
				</div>
			</center>	
    			</div>
    		
    		</div>
    	</div>
		<br><br><br><br><br><br>
    </div>
	
	<!-- section gallery end -->

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 

   <script>
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
   document.getElementById("myNav").style.width = "0%";
   }
</script>

<%- include("partials/footer"); -%>